/* .accordion {
	box-shadow: var(--box-shadow-primary-gamma);
} */

.accordion-button:focus {
    border-color: var(--border-color);
    box-shadow: var(--border-color);
}

.accordion-item {
    background-color: var(--bg-primary-gamma);
    border: none;
    border-bottom: 1px solid var(--bg-primary-alpha);
    color: inherit;
}

.accordion-body {
    background-color: var(--bg-primary-alpha);
}

.accordion-button,
.accordion-button:not(.collapsed) {
    color: var(--text-primary-dzeta);
    background-color: var(--bg-primary-beta);
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 15px;
    line-height: 1;
    font-weight: 300;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 8L12 16L20 8' stroke='white' stroke-opacity='0.95' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 8L12 16L20 8' stroke='white' stroke-opacity='0.95' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.accordion-item:last-of-type,
.accordion-item:last-of-type .accordion-button.collapsed,
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom: unset;
}

.accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

@media screen and (max-width: 996px) {
    .accordion-button,
    .accordion-button:not(.collapsed) {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
