h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.2;
    font-style: normal;
    margin: 0;
}

h1,
h2 {
    font-size: clamp(1.4rem, 4vw, 2.3rem);
}

h3 {
    font-size: clamp(1.4rem, 3vw, 2rem);
}

h4 {
    font-size: clamp(1.4rem, 2vw, 1.8rem);
}

h5,
h6 {
    font-size: clamp(1rem, 2vw, 1.2rem);
}

p,
label,
input,
button,
blockquote,
button {
    font-size: clamp(0.9rem, 2vw, 1rem);
    margin: 0;
    font-weight: 400;
}

a {
    font-size: clamp(0.9rem, 2vw, 1rem);
    text-decoration: none;
    font-weight: 300;
}

ul,
ol {
    margin: 0;
}

ul,
li {
    font-size: clamp(0.9rem, 2vw, 1rem);
    font-weight: 400;
}
